@import "breakpoint";

$break-xs: 240px;
$break-s: 320px;
$break-m: 768px;
$break-l: 1200px;
$break-xl: 1600px;


* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  width: 70%;
}


footer {
  margin-top: 20px;
}
