        <div class="social">
          <ul class="list-linear">
            <li><div class="g-plusone" data-size="medium" data-href="http://ericduran.github.com{{ post.url }}"></div></li>
            <li>
                <div class="twitter-tweet">
                    <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://ericduran.github.com{{ post.url }}" data-count="horizontal" data-via="ericjduran" data-lang="en">Tweet</a>
                </div>
            </li>
          </ul>
        </div>
