---
layout: default
---

<article class="unit-article blog-post">
  <div class="unit-inner">
      <header>
        <div class="unit-head">
          <div class="unit-inner">
            <h1 class="h2 entry-title">{{ page.title }}</h1>
          </div><!-- unit-inner -->
        </div><!-- unit-head -->
      </header>

      <div class="entry-content content">
        {{ content }}
        {% include meta.html %}
      </div><!-- entry-content -->

      {% include social.html %}

      <div class="comment">
         <div id="disqus_thread"></div>
          <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
      </div>
      <footer class="unit-foot">
        <div class="unit-inner  ">
          <nav class="pagination">
            <ul>
              {% if page.previous %}
              <li class="prev"><a class="internal" rel="prev"  href="{{ page.previous.url }}" title="View {{ page.previous.title }}">&laquo; {{ page.previous.title }}</a></li>
              {% endif %}
              {% if page.previous and page.next %}
              <li class="pipe"> | </li>
              {% endif %}
              {% if page.next %}
              <li class="next"><a class="internal" rel="next"  href="{{ page.next.url }}" title="View {{ page.next.title }}">{{ page.next.title }} &raquo;</a></li>
              {% endif %}
            </ul>
          </nav>
          <p class="gotop">
            <a href="#page">Back to Top</a>
          </p>
        </div>
      </footer>

  </div><!-- unit-inner -->
</article>
